/* square buttons */
.rec.rec-arrow {
    border-radius: 0;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;



}

.upperdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    font-size: 18px;
    color: black;
    height: 9vh;



}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
    background-color: #F2F2F2;
   
    



}

.card{
    width: 20rem;
    border: 2px solid black;
    
}

@media only screen and (max-width:800px){
    .carousel{
        position: relative;
        /* left: 20rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
        
        
        
    }
    .upperdiv{
        position: relative;
        /* left: 20rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        

    }
    .upperdiv h2{
        font-size: 20px;

    }
   
}



.row {
    display: flex;



}

.column {
    justify-items: center;
    align-items: center;
    padding: 5px;




}


